<div class="main-cointainer">
	<div ng-include="'header.html'"></div>
	<div class="container">
		<div class="row">
			<h1 class="col-md-offset-3"> User Edit </h1>
			<div class="col-md-6 col-md-offset-1">
				<form class="form-horizontal">
				  <div class="form-group">
				    <label for="first_name" class="control-label col-md-3">First Name</label>
				    <div class="col-md-9">
				    	<input type="text" class="form-control" id="first_name" placeholder="Nikita" ng-model="entity.first_name">
				    </div>
				  </div> 
				  <div class="form-group">
				    <label for="last_name" class="control-label col-md-3">Last Name</label>
				    <div class="col-md-9">
				    	<input type="text" class="form-control" id="last_name" placeholder="Belonovych" ng-model="entity.last_name">
				    </div>
				  </div> 
				  <div class="form-group">
				    <label for="email" class="control-label col-md-3">Email</label>
				    <div class="col-md-9">
				    	<input type="email" class="form-control" id="email" placeholder="your@gmail.com" ng-model="entity.email">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="number" class="control-label col-md-3">Number</label>
				    <div class="col-md-9">
				    	<input type="text" class="form-control" id="number" placeholder="380683328045" ng-model="entity.phone_number">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="password" class="control-label col-md-3">Password</label>
				    <div class="col-md-9">
				    	<input type="password" class="form-control" id="password" placeholder="Password" ng-model="entity.password">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="confirm_password" class="control-label col-md-3">Confirm Password</label>
				    <div class="col-md-9">
				    	<input type="password" class="form-control" id="confirm_password" placeholder="Password">
				    </div>
				  </div>
				  <div class="col-md-3 col-md-offset-3">
				  	<button type="button" class="btn submit-button btn-primary" ng-click="save()">Save</button>
				  </div>
				  <div class="col-md-3">
				  	<button type="button" class="btn submit-button btn-primary" ng-click="cancel()">Cancel</button>
				  </div> 
				</form>
			</div>
		</div>
	</div>
</div>