<div class="login-form">
      
      <ul class="login-tab-group">
        <li class="tab active"><a href="#login">Log In</a></li>
        <li class="tab"><a href="#signup">Sign Up</a></li>
      </ul>
      
      <div class="login-tab-content">
        <div id="login">   
          <h1 class="login-h1">Welcome Back!</h1>
          
          <form>
          
            <div class="login-field-wrap">
            <label class="login-label">
              Email Address<span class="req">*</span>
            </label>
            <input class="login-input" type="email" required autocomplete="off" ng-model="email"/>
          </div>
          
          <div class="login-field-wrap">
            <label class="login-label">
              Password<span class="req">*</span>
            </label>
            <input class="login-input" type="password" required autocomplete="off" ng-model="password"/>
          </div>
          
          <button class="login-button login-button-block" ng-click="logIn(email,password)"/>Log In</button>
          
          </form>

        </div>
        <div id="signup">   
          <h1 class="login-h1">Sign Up for Free</h1>
          
          <form>
          
          <div class="login-top-row">
            <div class="login-field-wrap">
              <label class="login-label">
                First Name<span class="req">*</span>
              </label>
              <input class="login-input" type="text" required autocomplete="off" />
            </div>
        
            <div class="login-field-wrap">
              <label class="login-label">
                Last Name<span class="req">*</span>
              </label>
              <input class="login-input" type="text"required autocomplete="off"/>
            </div>
          </div>

          <div class="login-field-wrap">
            <label class="login-label">
              Phone Number<span class="req">*</span>
            </label>
            <input class="login-input" type="text"required autocomplete="off"/>
          </div>

          <div class="login-field-wrap">
            <label class="login-label">
              Email Address<span class="req">*</span>
            </label>
            <input class="login-input" type="email"required autocomplete="off"/>
          </div>
          
          <div class="login-field-wrap">
            <label class="login-label">
              Set A Password<span class="req">*</span>
            </label>
            <input class="login-input" type="password"required autocomplete="off"/>
          </div>
          
          <button type="submit" class="login-button login-button-block"/>Get Started</button>
          
          </form>

        </div>
        
      </div><!-- tab-content -->
      
</div>